.app {
  min-height: calc(100vh - 70px);
}

html {
  font-family: Montserrat;
}

*:focus {
    outline: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  /* background-image: url(./resources/nakaji3.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 52%; */
  
}
