.app {
  min-height: calc(100vh - 70px);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Montserrat;
  background: linear-gradient(#141e30, #243b55);


}

*:focus {
    outline: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  /* background-image: url(./resources/nakaji3.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 52%; */
  
}
